{
  "env": {
    "serviceworker": true,
    "browser": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "airbnb",
    "plugin:prettier/recommended"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "plugins": [
    "jsx-a11y",
    "react",
    "react-hooks",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": 1,
    // 使用prettier作为eslint规则
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    // 以上两行是精华，必须添加，使用钩子函数时才会提示警告/错误
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "linebreak-style": 0,
    "react/forbid-prop-types": 0,
    "no-plusplus": [
      1,
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "react/react-in-jsx-scope": 0,
    "react/jsx-props-no-spreading": 0,
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "no-unused-expressions": [
      "error",
      {
        "allowShortCircuit": true,
        "allowTernary": true
      }
    ],
    "no-restricted-syntax": 0,
    "no-use-before-define": [
      "error",
      {
        "functions": false
      }
    ],
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/interactive-supports-focus": [
      "error",
      {
        "tabbable": [
          "button",
          "checkbox",
          "link",
          "searchbox",
          "spinbutton",
          "switch",
          "textbox"
        ]
      }
    ],
    "react/destructuring-assignment": 0,
    "jsx-a11y/click-events-have-key-events": 0
  }
}
